@media screen and (max-width: 1145px) {
    .container {
        display: block;
        width: 100%;
        position: relative;
        padding: 0;
    }

    .header {
        width: 100%;
        padding: 0;
    }

    .leftContainer {
        width: 100%;
        display: flex;
        padding: 0px;
        justify-content: center;
        position: absolute;
        height: 200px;
        padding: none;
        border-radius: 0;
    }

    .leftContainer h1 {
        margin-left: 1rem;
        margin-top: 1rem;
    }


    .leftContainer .textHeader div {
        display: none;
        margin-top: 0;
    }

    .rightContainer {
        width: 80%;
        margin: 0px auto;
        position: relative;
        margin-left: 2.8rem;
        background-color: whitesmoke;
        border-radius: 1rem;
        margin-top: 9rem;
        padding: 2rem 2rem;
    }

    .btn{
        position: fixed;
        margin-right: 0;
    }
}