* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: lato-bold;
    src: url("./font/Lato-Bold.ttf")format(truetype);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #0a0a42;
    font-weight: 300;
    line-height: 1.9;
    background-color: #f3f3f3;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.hidden {
    display: none;
}

.btn {
    background: #0a0a42;
    color: #fff;
    padding: 1rem 2.2rem;
    border-radius: .6rem;
    border: none;
    text-align: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 10px;
}

.btn-go {
    background: none;
    color: #0a0a42;
    font-size: 1.5rem;
    border: none;
    text-align: center;
    margin-bottom: 10px;
    position: absolute;
    bottom: 0;
}



.btnSection{
    background-color: #0a0a42;
    width: 100%;
}


.header {
    align-items: center;
    display: flex;
    /* border: 2px solid tomato; */
    background: #c6e6d6;
    height: 100%;
    width: 100%;
    align-content: center;
    padding: 91px;
}

.container {
    /* border: 2px solid black; */
    background: #f5f5f5;
    display: flex;
    border-radius: .5rem;
    width: 60vw;
    margin: 0 auto;
    padding: 1rem;
}

.leftContainer {
    background: url(./assets/images/bg-sidebar-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
    width: 30%;
    border-radius: .8rem;
    padding: 2rem;
    color: #fff;
}

.leftContainer .textHeader h1 {
    border: 2px solid white;
    align-self: center;
    border-radius: 50%;
    padding: 0rem .9rem;
    margin-right: 1.2rem;
}


.leftContainer .textHeader .active {
    background-color: #98d4b6;
    border: none;
}

.leftContainer .textHeader span:last-child {
    font-weight: 800;
    margin-top: 0;
}

.leftContainer .textHeader div {
    line-height: normal;
    align-self: center;
}

.leftContainer .textHeader div span {
    color: #aaa0a0;
}

.leftContainer .textHeader {
    display: flex;
    margin-bottom: 1.5rem;
}

.rightContainer {
    margin-left: 5rem;
    margin-top: 2rem;
    line-height: normal;
    position: relative;
}


.rightContainer h1 {
    font-size: 2.5rem;
}

.rightContainer p {
    color: #857f7f;
    font-size: 1.2rem;
    margin-bottom: 2rem;
}

#form {
    margin-bottom: 8rem;
}

#form input {
    display: block;
    margin-bottom: 2rem;
    /* padding: 1rem 5rem; */
    width: 100%;
    height: 3.2rem;
    border-radius: 10px;
    border: 2px solid gray;
    margin-top: .5rem;
}

#form input:active {
    border: 2px solid gray;
}

#form input:placeholder-shown {
    font-size: 1rem;
    padding: 1rem;
}

#form input:focus {
    outline: none;
    border: 2px solid blue;
    padding-left: 10px;
}

#form input[type="text"] {
    font-size: 1.2rem;
    padding-left: 10px;
}

#form input[text="email"] {
    font-size: 1.2rem;
}

#form label {
    margin-bottom: 4rem;
    font-size: 1rem;
    font-weight: 700;
}

.planSection{
    display: flex;
    gap: 25px;
    width: 100%;
}

.plans{
    border: 1px solid #0a0a42;
    padding: 1.8rem 2rem .5rem .8rem;
    border-radius: .6rem;
    width: 8.5rem;
    height: 10.5rem;
}

.plans:hover{
    border: 1px solid #0000ff;
}

.plans img{
    margin-bottom: 1.5rem;
}

.plans h3{
    margin-bottom: .3rem;
}

.plans_sw{
    /* display: block; */
    margin: 5rem 0;

}