* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

@font-face {
    font-family: lato-bold;
    src: url("./font/Lato-Bold.ttf")format(truetype);
}

body {
    font-family: 'Poppins', sans-serif;
    color: #444;
    font-weight: 300;
    line-height: 1.9;
    background-color: #f3f3f3;
    scroll-behavior: smooth;
}

button {
    cursor: pointer;
}

.btn {
    background: #39b385;
    color: #fff;
    padding: .8rem 2.2rem;
    border-radius: 1.2rem;
    border: none;
}

.btn:hover {
    background: #4bbb7d;
}

.header{
    align-items: center;
    display: flex;
    border: 2px solid tomato;
    height: 48.2rem;
    width: 100%;
    align-content: center;
}

.container{
    border: 2px solid black;
    border-radius: .5rem;
    width: 80%;
    margin: 0 auto;
    padding: 1.5rem;
}

.leftContainer{
    border: 2px solid cornflowerblue;
    width: 25%;
    border-radius: .5rem;
    padding: 2rem;
    /* color: #fff; */
}